*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    color-scheme: light dark;
}

body{
    background-color: light-dark(#adadad, #161726);
}

.pk-wrapper{
    position: relative;
    min-height: 100dvh;
    display: grid;
    place-content: center;
    grid-template-rows: repeat(2,100px) 1fr;
}

.pk-logo{
    padding: .25rem;
}

.pk-gen-selector__layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .75rem;
}



.pk-gen-selector__layout img{
    width: 100%;
    filter: contrast(30%);
    transition: filter 250ms ease;
    cursor: pointer;
    &:hover{
        filter: contrast(60%);
    }
}

.pk-gen-selector__layout img.selected{
    filter: contrast(100%);
}




